//
   Created by Asuska on 31.08.2015.

doctype html
html
    head
        meta( charset="utf-8" )
        link(href="/build/combined.css", rel="stylesheet", type="text/css")
        script(src="/build/combined.js")
        title= pageTitle

        //- bootstrap
        body(data-ng-app= "kitApp")
            button Asfaf
            #container
                .kit-editor(data-kit-editor)